body {
    margin：0;
    padding：0;
    text-align: center;
}
div#chess-board {
    margin-top: 30px;
    padding: 4px;
    width: 565px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #888;
    display: inline-block;
    position: relative;
}
canvas {
    margin: 20px 0;
    border: 2px solid #000;
}
#canvasChess, #canvasTip {
    margin: 0;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#box {
    margin-top: 40px;
}

span {
    font-size: 30px;
    font-weight: bold;
    color: #F60D0D;
    display: block;
    height: 50px;
}

input {
    margin: 10px 5px;
    // display: block;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: #797C18;
}

a {
    display: block;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 20px;
}